{
	email prabathmadushan5@gmail.com
	auto_https disable_redirects
}

https://api.prabhathmadhushan.cv {
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		-Server
		-X-Powered-By
	}
	reverse_proxy 127.0.0.1:4000
}
